*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto Flex', sans-serif;
background: linear-gradient(132deg, rgb(0, 255, 157) 00.00%, rgb(227, 43, 175) 115.00%);
    color: #000;

}

.container{
    border: 2px solid transparent;
    margin: 0 auto;
    width: 99%;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0;
    flex-wrap: wrap;
}

.nav i{
  padding-right: 10px;
}
 
.nav h2{
    font-size: 2rem;
    padding: 4px;
}

.user_input{
    margin-top: 2px;
    width: 350px;
    text-align: center;
  }
  
  .user_input input{
    width: 75%;
    outline: none;
    padding: 8px;
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
  }

  .user_input input:focus{
    box-shadow: 0 0 5px #fff;
    border:2px solid #e22865;

  }

  .user_input button{
    cursor:pointer;
    padding:8px;
    width:fit-content;
    transition:1s;
    outline:none;
    background-color: lightgray;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
  }

  .user_input button:hover{
  background-color: transparent;
  color:white;
  
  }
  .todoitems{
    width:90%;
    margin-top: 40PX;
    border-radius: 10px;
    background-color: #FFF;
    height: 50px;
    padding: 10px;
    position: relative;
  }
  .todoitems i{
    position: absolute;
    margin-left: 500px;
    margin-bottom: 80px;
  } 
  #to_do_list{
    width: 500px;
    margin: auto;
  }
  
  .item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 1rem;
    color: #454545;
    margin-top:10px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    text-transform: uppercase;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
  }

  #check{
    margin-bottom: 20px;
  }

  .checked{
    text-decoration: line-through;
  }
 
  
  .item:hover{
    box-shadow: 0 0 20px #E22865;
    border: 1px solid #E22865;
  }
  
  .item i{
    cursor: pointer;
    margin: 0 5px;
  }

  

  .tasks{
    width: 700px;
    height:500px;
    margin: 0 auto;
    margin-top: 20px;
    color: #000;
   
  }


  .check{
    position: relative;
    top:10px;
    right: 100px;
    cursor: pointer;
   
  }
  .delete{
    
    left:70px;
    top: 10px;
    cursor: pointer;
  }

 