@media(max-width: 1280px) {
    .container {
        width: 100%;
    }
    .user_input{
        margin-right: 50px;
    }
    #todoo{
        margin-left: 30px;
    }
}

@media(max-width: 768px) {
    .container {
        width: 95%;
    }
    #todoo{
        margin: 0 auto;
    }

    #header {
        padding: 20px;
        gap: 10px;
        align-items: center;
        flex-direction: column;
    }

    #header h2 {
        margin: 10px 0;
    }

    .user_input {
        margin-top: 50px;
        margin-left: 110px;
        width: 70%;
    }
    .todoitems{
        margin-left: 30px;
    }

    #to_do_list {
        width: 100%;
    }
}

@media(max-width: 480px) {
    .nav{
        margin: 0 auto;
    }
    .user_input  {
        width: 74%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .tasks{
        width: 480px;
        
    }
    .todoitems{
        margin: 0 auto;
        margin-bottom: 20px;
        width:80%;
        
    }
    #delete{
        margin-left: 230px;
    }

}

@media(max-width: 400px) {
    .nav{
        margin: 0 auto;
    }
    .user_input input {
        width: 70%;
    }
    .tasks{
        width:375px;
    }
    .todoitems{
        width:375px;
        margin:0 auto;
    }
}